@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Sofia+Sans:wght@300;400&display=swap');

:root {
    --CL-Green: #2EC4B6;
    --CL-Black: #000B0A;
    --CL-Text-Headings: #011C34;
    
}