@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Sofia+Sans:wght@300;400&display=swap");

:root {
  --CL-Green: #2ec4b6;
  --CL-Black: #000b0a;
  --CL-Text-Headings: #011c34;
  --CL-Grey: #737373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 77.333px;
  height: 80px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

body {
  height: 100vh;
  display: flex;
  background: var(--CL-Green);
  /* opacity: 0.04; */
}

h1 {
  color: var(--CL-Black, #000b0a);
  font-family: Brown;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.8px;
}

.sub-text {
  color: var(--CL-Grey, #737373);
  font-family: "Hedvig Letters Serif", serif;
  font-family: "Sofia Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}


.reg-container {
  width: 580px;
  height: 679px;
  top: 81px;
  left: 720px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  
}
